.avistaje {
    background-color: rgb(255, 255, 255);
      min-height: 330vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      padding: 2rem 0;
     
  }
  
  .titleForm {
    margin-bottom: 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 2rem;
  }

  .containerForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
    background-color: #ffffff;
    padding: 3rem;
    border-radius: 10px;
  }
  
  .containerForm div {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.2rem;
    color: rgb(11, 10, 10);
  }
  
  .containerForm label {
    font-size: 1.2rem;
    color:#000000;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
  }
  
  .containerForm input {
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border:1px solid #aaa;
    
  }
  
  .containerForm input:focus {
    outline:none;
  }
  
  .containerForm input[type='date'] {
    padding: 0.3rem 0.5rem;
    width: 75%;
  }
  
  .containerForm textarea {
    font-size: 0.8rem;
    padding: 0.3rem 0.5rem;
    border-radius: 10px;
    border: 1px solid #aaa;
  
  }
  
  .containerForm textarea:focus {
    outline: none;
  }

  .containerForm select {
    display: block;
    font-size: 1.1rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    color: #444;
    line-height: 1.3;
    padding: .4em 1.4em .3em .8em;
    width: 20vw;
    max-width: 100%; 
    box-sizing: border-box;
    margin: 0;
    border: 1px solid #aaa;
    box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
    border-radius: .3em;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
      linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
    background-repeat: no-repeat, repeat;
    background-position: right .7em top 50%, 0 0;
    background-size: .65em auto, 100%;
   }
   .containerForm select::-ms-expand {
    display: none;
   }
   .containerForm select:hover {
    border-color: rgb(218, 209, 209);
   }
   .containerForm select:focus {
    border-color: rgba(170, 170, 170, 0.592);
    box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
    box-shadow: 0 0 0 3px -moz-mac-focusring;
    color: #222; 
    outline: none;
   }
   .containerForm select option {
    font-weight:normal;
   }

   .h2{
    font-size: 1.01rem;
    padding: 2vh 2vh;
    font-family:Arial, Helvetica, sans-serif;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 0.3rem 0.5rem;
    
   }

   .h5{
    font-size: 1rem;
    margin-top: 0;
    margin-bottom: 2vh;
    font-family:Arial, Helvetica, sans-serif;

   }

   .h3{
    font-size: 1.2rem;
    margin-top: 0;
    margin-bottom: 0;

   }

   .h4{
    font-size: 1.2rem;
    padding: 0.3rem 0.5rem;
    border-radius: 5px;
    border:1px solid #aaa;
   }

   .containerForm button {
    background-color: #efefef00;
    border: solid;
    margin: 2vh;
    border-color: rgb(20, 26, 39);
    color: rgb(20, 26, 39);
    padding: 2.5vh 2.5vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
    font-size: 1.3rem;
    
    
  }

  .containerForm button:hover{
    background-color: rgb(20, 26, 39);
    color:white;
    cursor: pointer;
  }

  
.btn {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    position: relative;
    padding: 0;
    margin-top: 1rem;
  }
  
  .btn::before {
    content: '';
    background: white;
    height: 1vh;
    width: 0;
    position: absolute;
    bottom: 0;
    transition: 0.3s;
  }
  .btn:hover::before {
    width: 90%;
  }
  
  .btn::after {
    content: '';
    background: white;
    height: 1vh;
    width: 0;
    position: absolute;
    left: 0;
    bottom: 0;
    transition: 0.3s;
  }
  .btn:hover::after {
    width: 100%;
  }
  
  .btnAdmin {
    margin-top: 2rem;
    text-decoration: none;
    font-size: 1.2rem;
    background-color: #efefef00;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    cursor: pointer;
    border: solid;
    border-color: rgb(20, 26, 39);
    color: rgb(20, 26, 39);
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
  }

  .btnAdmin:hover{
    background-color: rgb(20, 26, 39);
    color:white;
    cursor: pointer;

  }
  
  .error {
    font-family: sans-serif;
    color: #8d0000;
    font-size: 14px;
  }
  
  .link {
    background-color:  rgba(20, 26, 39, 0);
    border: solid;
    margin: 2.5vh;
    border-color: rgb(20, 26, 39);
    color: rgb(0, 0, 0);
    padding: 2vh 3vh;
    text-align: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 10px;
    height: 3vh;
    width: 5.5vw;
    font-size:1.1rem
  }

  .link:hover{
    background-color: rgb(20, 26, 39);
    color:white
  }


  @media (max-width: 500px){

    .avistaje {
      background-color: rgb(255, 255, 255);
      min-height: 300vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
      padding-top: 10rem;
      width: 100%;
       
    }
    
    .titleForm {
      margin-bottom: 0.5rem;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
      font-size: 1.6rem;
      align-items: center;
    }
  
    .containerForm {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 0.8rem;
      background-color: #ffffff;
      padding: 3rem;
      border-radius: 10px;
      width: 100%;
    }
    
    .containerForm div {
      width: 80%;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      gap: 0.2rem;
      color: rgb(11, 10, 10);
    }
    
    .containerForm label {
      font-size: 1.1rem;
      color:#000000;
      font-family:Arial, Helvetica, sans-serif;
      font-weight: bold;
    }
    
    .containerForm input {
      font-size: 1rem;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      border:1px solid #aaa;
      
    }
    
    .containerForm input:focus {
      outline:none;
    }
    
    .containerForm input[type='date'] {
      padding: 0.3rem 0.5rem;
      width: 75%;
    }
    
    .containerForm textarea {
      font-size: 0.8rem;
      padding: 0.3rem 0.5rem;
      border-radius: 10px;
      border: 1px solid #aaa;
    
    }
    
    .containerForm textarea:focus {
      outline: none;
    }
  
    .containerForm select {
      display: block;
      font-size: 1.1rem;
      font-family: Arial, Helvetica, sans-serif;
      font-weight: 1rem;
      color: #444;
      line-height: 1.3;
      padding: .4em 1.4em .3em .8em;
      width: 60%;
      max-width: 100%; 
      box-sizing: border-box;
      margin: 0;
      border: 1px solid #aaa;
      box-shadow: 0 1px 0 1px rgba(0,0,0,.03);
      border-radius: .3em;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background-color: #fff;
      background-image: url('data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23007CB2%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E'),
        linear-gradient(to bottom, #ffffff 0%,#f7f7f7 100%);
      background-repeat: no-repeat, repeat;
      background-position: right .7em top 50%, 0 0;
      background-size: .65em auto, 100%;
     }
     .containerForm select::-ms-expand {
      display: none;
     }
     .containerForm select:hover {
      border-color: rgb(218, 209, 209);
     }
     .containerForm select:focus {
      border-color: rgba(170, 170, 170, 0.592);
      box-shadow: 0 0 1px 3px rgba(59, 153, 252, .7);
      box-shadow: 0 0 0 3px -moz-mac-focusring;
      color: #222; 
      outline: none;
     }
     .containerForm select option {
      font-weight:normal;
     }
  
     .h2{
      font-size: 1.01rem;
      padding: 2vh 2vh;
      font-family:Arial, Helvetica, sans-serif;
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: 0.3rem 0.5rem;
      
     }
  
     .h5{
      font-size: 1rem;
      margin-top: 0;
      margin-bottom: 2vh;
      font-family:Arial, Helvetica, sans-serif;
  
     }
  
     .h3{
      font-size: 1.1rem;
      margin-top: 0;
      margin-bottom: 0;
  
     }
  
     .h4{
      font-size: 1.2rem;
      padding: 0.3rem 0.5rem;
      border-radius: 5px;
      border:1px solid #aaa;
     }
  
     .containerForm button {
      background-color: #efefef00;
      border: solid;
      margin: 2vh;
      border-color: rgb(20, 26, 39);
      color: rgb(20, 26, 39);
      padding: 2.5vh 2.5vh;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      display: inline-block;
      border-radius: 5px;
      font-size: 1.1rem;
      
    }
  
    .containerForm button:hover{
      background-color: rgb(20, 26, 39);
      color:white;
      cursor: pointer;
    }
  
    
  .btn {
      background-color: transparent;
      border: none;
      color: #fff;
      cursor: pointer;
      position: relative;
      padding: 0;
      margin-top: 1rem;
    }
    
    .btn::before {
      content: '';
      background: white;
      height: 1vh;
      width: 0;
      position: absolute;
      bottom: 0;
      transition: 0.3s;
    }
    .btn:hover::before {
      width: 90%;
    }
    
    .btn::after {
      content: '';
      background: white;
      height: 1vh;
      width: 0;
      position: absolute;
      left: 0;
      bottom: 0;
      transition: 0.3s;
    }
    .btn:hover::after {
      width: 100%;
    }
    
    .btnAdmin {
      margin-top: 2rem;
      text-decoration: none;
      font-size: 1.1rem;
      background-color: #efefef00;
      padding: 0.5rem 1rem;
      border-radius: 5px;
      cursor: pointer;
      border: solid;
      border-color: rgb(20, 26, 39);
      color: rgb(20, 26, 39);
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      display: inline-block;
    }
  
    .btnAdmin:hover{
      background-color: rgb(20, 26, 39);
      color:white;
      cursor: pointer;
  
    }
    
    .error {
      font-family: sans-serif;
      color: #8d0000;
      font-size: 14px;
    }
    
    .link {
      background-color:  rgba(20, 26, 39, 0);
      border: solid;
      margin: 2vh;
      border-color: rgb(20, 26, 39);
      color: rgb(0, 0, 0);
      padding: 2.5vh 2.5vh;
      text-align: center;
      text-decoration: none;
      font-weight: bold;
      font-family:Arial, Helvetica, sans-serif;
      display: inline-block;
      border-radius: 5px;
    }
  
    .link:hover{
      background-color: rgb(20, 26, 39);
      color:white
    }

  
      
    }
    