/* black

.c {
    position:relative;
    bottom:0px;
    z-index: 100;
    width: 100%;
    background-color: rgb(7, 12, 24);
    height: 300px;
    padding-top: 40px; 
    }
.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
   

.logo {
    width:300px;
    height:150px;
  }

  
.logoBlack {
  margin-top: 0;
  width:350px;
    height:150px;
}

  .redes{
    margin-top: 20px;
    margin: 15px;
  }


.line{
   
    width: 50%;
    border-top: 1px solid white;
  
} */

/* white */



.c {
  position:relative;
  bottom:0px;
  z-index: 100;
  width: 100%;
  background-color: rgb(0, 0, 0);
  height: 50vh;
  padding-top: 5vh; 
  }


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 

.logo {
  width:50%;
  height:30%;
}


.logoBlack {
width:30%;
height:30%;
}

.redes{
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
}


.line{
  width: 50%;
  border-top: 1px solid burlywood;
}

@media (max-width: 500px){

  
.logoBlack {
  width:55%;
  height:35%;
}
.redes{
  width:30%;
  height:20%;
}
  
}
