/* 

.c {
  position:relative;
  bottom:0px;
  z-index: 100;
  width: 100%;
  background-color: rgb(255, 255, 255);
  height: 50vh;
  padding-top: 5vh; 
  }

    .container{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
     

.logo {
  width:35%;
  height:20%;
}
  


.redes{
  width: 18%;
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
  display: flex;
  justify-content: space-between;
}


  .line{
    width: 50%;
    border-top: 1px solid white;
  }
   */

/*black*/



.c {
  position:relative;
  bottom:0px;
  z-index: 100;
  width: 100%;
  background-color: rgb(20, 26, 39);
  height: 50vh;
  padding-top: 5vh; 
  }


.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
 

.logo {
  width:50%;
  height:30%;
}


.logoBlack {
width:30%;
height:30%;
}

.redes{
  width: 18%;
  padding: 2.5vh 2.5vh 2.5vh 2.5vh;
  display: flex;
  justify-content: space-between;
}




.line{
  width: 50%;
  border-top: 1px solid white;
}

@media (max-width: 500px){

  .c {
    position:relative;
    bottom:0px;
    z-index: 100;
    width: 100%;
    background-color: rgb(20, 26, 39);
    height: 50%;
    padding-top: 5vh; 
    }

  
.logoBlack {
  width:55%;
  height:35%;
}
.redes{
  width:30%;
  height:20%;
}
  
} 
