.container {
    background-color: rgb(255, 255, 255);
      min-height: 160vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding: 2rem 0;
     
  }


  .link {
    background-color:  rgba(20, 26, 39, 0);
    border: solid;
    margin: 2vh;
    border-color: rgb(20, 26, 39);
    color: rgb(0, 0, 0);
    padding: 2.5vh 2.5vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 10px;
    font-size: 1rem;
  }

  .link:hover{
    background-color: rgb(20, 26, 39);
    color:white
  }

  .title{
    margin-bottom: 0.5rem;
    font-family:Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.6rem;
    color:rgb(10, 28, 48)
  }

  .button {
    background-color: #efefef00;
    border: solid;
    margin: 2vh;
    border-color: rgb(20, 26, 39);
    color: rgb(20, 26, 39);
    padding: 2.5vh 2.5vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 10px;
    font-size: 1rem;
    
  }

  .button:hover{
    background-color: rgb(20, 26, 39);
    color:white;
    cursor: pointer;
  }

  .planilla{
    border: 3px solid rgb(20, 26, 39);
    width: 50%;
    padding: 2.5vh 2.5vw 2.5vh 2.5vw;
    border-radius: 10px;
  }

  .header{
    font-weight: bold;
    font-size: 1.1rem;
    font-family:Arial, Helvetica, sans-serif
  }

  .data{
    font-size: normal;
    color: rgb(13, 34, 34);
  }
  