/* .home {
    background-color: rgb(238, 238, 238);
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.6rem + 1vw);
} */
 
.home {
    background-image:url('https://pbs.twimg.com/media/FI5oUjrXsAA9i3n.jpg'); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
    background-size:cover;
    background-position:center;
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    height: calc(100vh - 20vh);
    width: 100%;
   
} 


  .link {
    background-color:  rgba(113, 115, 119, 0.747);
    border: solid;
    margin: 2.5vh;
    border-color: rgb(20, 26, 39);
    color: rgb(255, 255, 255);
    padding: 2vh 3vh;
    text-align: center;
    text-decoration: none;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 10px;
    height: 3vh;
    width: 5.5vw;
    font-size:1.1rem
  }

  .link:hover{
    background-color: rgb(20, 26, 39);
    color:white
  }
  
  

  

  @media (max-width: 500px){
    .home{
      background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.6rem + 1vw);
    }

    .link {
      background-color:  rgba(113, 115, 119, 0.747);
      border: solid;
      border-color: rgb(20, 26, 39);
      color: rgb(255, 255, 255);
      text-decoration: none;
      font-family:Arial, Helvetica, sans-serif;
      display: inline-block;
      border-radius: 10px;
      height: 1vh;
      width: 21vw;
      font-size:0.9rem;
      align-items: center;
      justify-self: center;
      font-weight: bold;
      
    }
  }

  
 