.home {
    background-color: rgb(238, 238, 238);
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.6rem + 1vw);
}

/* .home {
  background:url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwIejlIh8b7nZrJ84RCxDrGmNbo0i6fS48DA&usqp=CAU');
    min-height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    background-size: 100vw 100vh;
    height: 100vh;
    width: 100%;
   
} */


  .link {
    background-color:  rgba(20, 26, 39, 0);
    border: solid;
    margin: 2.5vh;
    border-color: rgb(20, 26, 39);
    color: rgb(0, 0, 0);
    padding: 2vh 3vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
  }

  .link:hover{
    background-color: rgb(20, 26, 39);
    color:white
  }

  .button {
    background-color: #efefef00;
    border: solid;
    margin: 2.5vh;
    border-color: rgb(20, 26, 39);
    color: rgb(20, 26, 39);
    padding: 2vh 3vh;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 5px;
  }

  @media (max-width: 500px){
    .home{
      background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(0.6rem + 1vw);
    }
  }

  
 