.c{
    position:fixed;
    top:0px;
    z-index: 100;
    width: 100%;
    background-color: rgb(20, 26, 39);
    height: 130px;
    padding-top: 40px; 
}

.container{
    display: flex;
    justify-content: space-around;
    align-items:baseline; 
}

.title{
    position: relative;
    left:0px;
    margin:40px;
    color:white;
    margin: 0px;
    font-weight: 700;
    font-size: 40px;
    font-family:'Times New Roman', Times, serif;
    font-style:normal;
}

.link{
    position: relative;
    margin:15px;
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
    
}

.link:hover{
    color:burlywood
}
.imgcontainer{
    
    margin:0px;
}
.img{
    width:70px;
    height: 50px;
    margin: 3px;
}

.log{
    position: right;
}

.cline{
    
}
.line{
   
    width: 100%;
    border-top: 2px solid white;
  
}