.containerAll {
    min-height: 300vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10rem 2rem;
  }

  .containerUser {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 0.5rem;
    background: #ffffff;
    border: 3px solid rgb(20, 26, 39);
    color: #c9c9c9;
    padding: 3rem;
    font-size: 2rem;
    text-align: center;
  }

  .link {
    background-color:  rgba(20, 26, 39, 0);
    border: solid;
    margin: 2vh;
    border-color: rgb(20, 26, 39);
    color: rgb(0, 0, 0);
    padding: 2.5vh 2.5vh;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family:Arial, Helvetica, sans-serif;
    display: inline-block;
    border-radius: 5px;
  }

  .link:hover{
    background-color: rgb(20, 26, 39);
    color:white
  }

  .containerTable__Pagination {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 40vw;
    padding-left: 10vw;
    padding-right: 10vw;
  }

  .paginationStock {
    display: flex;
    gap: 2rem;
    align-items: center;
    list-style: none;
  }

  
  .paginationStock button {
    border-radius: 10%;
    background-color: #263e44;
    color: rgb(255, 255, 255);
    border: none;
    padding: 2vh 2.5vh 2vh 2.5vh;
    cursor: pointer;
    list-style: none;
  }

  .table{
    width: 100%;
    border-collapse :collapse;
  }

  .table td,.table th{
    padding: 2vh 2.5vh 2vh 2.5vh;;
    border: 1px solid black;
    text-align: center;
    font-size: 16px;
  }
.table th{
    background-color: rgb(20, 26, 39);
    color:#ffffff
}

.table tbody tr:nth-child(even){
    background-color: #f5f5f5 ;
}


.linkTabla{
    text-decoration: none;
    color:black
}
  /* responsive */

@media(max-width: 500px){
    .table .thead{
        display:none;
    }
    .table, .table tbody, .table tr, .table td{
        display: block;
        width:100%;
    }
    .table tr{
        margin-bottom: 15px;
    }
    .table td{
        text-align: right;
        padding-left: 50%;
        text-align: center;
        position: relative;
    }
    .table td::before{
        content:attr(data-label);
        position: absolute;
        left:0;
        width: 50%;
        padding-left: 15px;
        font-size: 15px;
        font-weight: bold;
        text-align: left;
    }
}
 


  
  
  
  
  
